body {
    font-family: 'Cabin', sans-serif;
    background-image: url(../img/Presentación\ Diapositiva\ Marca\ Creativa\ Doodle\ Acuarela\ Colores\ Pasteles.jpg);
    background-size: cover;
    background-position: center center;
}

/*Llamado grid */

header {
    grid-area: header;
    background-color: rgba(136, 79, 79, 0.425);
    position: fixed;
    width: 100%;
    color: white;
    z-index: 1000;
}

aside {
    grid-area: aside;
    background-color: rgba(245, 227, 239, 0.358);
    display: grid;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

section {
    grid-area: section;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
    padding: 30px;
}

footer {
    grid-area: footer;
    background-color: beige;
}

main {
    min-height: 100vh;
    display: grid;
    grid-template-areas:    'header header header'
                            'aside section section'
                            'footer footer footer';
    grid-template-columns: 200px auto auto;
    grid-template-rows: 60px auto 60px;
}
/* Fin Llamado grid */

/*Inicio NAV*/

nav {
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav li a {
    color: white;
    text-decoration: none;
    padding: .5em 1em;
    border-bottom: solid 1px #f9f9f9;
    border-top: solid 1px #f9f9f9;
}

nav li a:hover {
    background: rgb(220, 129, 112);
    color: white;
}

nav > img {
    height: 50px;
    padding-top: 10px;
}

@media screen and (min-width: 480px) {
  nav ul {
    display: flex;
    justify-content:center;
  }
}

nav i {
    padding-left: 16px;
    cursor: pointer;
}
/*Termino NAV*/



/*Inicio narra lateral aside*/

#menu  {
    display: flex;
    flex-direction: column;
}

#menu  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 60px;
}

#menu div {
    display: flex;
    flex-direction: row;
}
    
#menu div:hover {
    background-color: rgba(161, 100, 100, 0.425);
    color: white;
}

/*checkbox talla COPIADO/

/* OFF */
[type="checkbox"]:not(:checked) + label:after {
    background: url('check_off.png') left center no-repeat;
}
  
  /* ON */
  [type="checkbox"]:checked + label {

}
  [type="checkbox"]:checked + label:after {
    background: url('check_on.png') left center no-repeat;
}

#talla > h2{
    font-size: 25px;
    text-align: center;
    padding: 30px;
}

#talla {
    text-align: center;
}

/*checkbox talla COPIADO/ 
/*Fin narra lateral aside*/




/*INICIO CONTENIDO*/

div > img {
    width: 100%;
    border-radius: 30px;
}

.cambio-imagen {
    position: relative;
    cursor: pointer;
}
  
.cambio-imagen img.top {
    position: absolute;
    left: 0;
    transition: opacity 1.5s ease-in-out;
}
  
.cambio-imagen img.top:hover {
    opacity: 0;
}
